{% extends "base.html" %}

{% block title %}{{ artist.name }}{% endblock %}

{% block content %}
  <h1>{{ artist.name }}</h1>
  <figure>
    {% if artist_image %}
      <img src="{{ artist_image.url }}" alt="{{ artist_image.alt }}" referrerpolicy="no-referrer">
    {% else %}
      <figcaption>No artist image available for {{ artist.name }}.</figcaption>
    {% endif %}
  </figure>
  {% if artist.disambiguation %}
    <p>{{ artist.disambiguation }}</p>
  {% endif %}
  {% include "releasewatch/includes/release_event_table.html" with events=events caption="Visible release events for this artist" %}
{% endblock %}
