{% extends "base.html" %}
{% load releasewatch_ui %}

{% block title %}{{ event.release_group.title }}{% endblock %}

{% block content %}
  <h1>{{ event.release_group.title }}</h1>
  <dl>
    <dt>Artist</dt>
    <dd><a href="{% url 'releasewatch:artist_detail' event.release_group.artist_id %}">{{ event.release_group.artist.name }}</a></dd>
    <dt>Date</dt>
    <dd>{{ event.event_date|release_date:event.date_precision }}</dd>
    <dt>Country</dt>
    <dd>{{ event.country|default:"Unknown country" }}</dd>
    <dt>Status</dt>
    <dd>{{ event.release.status|default:"Unknown status" }}</dd>
  </dl>
{% endblock %}
